# ci
ghp-import
jupyter
# formatting
flake8
black
black[jupyter]
# sphinx
sphinx
sphinx-book-theme
sphinxext-opengraph
sphinxcontrib-bibtex
# theme
myst-nb
myst-parser
jupyter-book
# pydata-sphinx-theme
sphinx-immaterial
# basic requirements
ipykernel
matplotlib
numpy
qiskit
qiskit_aer
jax
# qurrum requirements
qurrium
