ghp-import
jupyter
# formatting
flake8
black
black[jupyter]
jupyter
# extensions
sphinxext-opengraph
sphinxcontrib-bibtex
sphinxcontrib-googleanalytics
# theme
myst-nb
myst-parser
jupyter-book
# pydata-sphinx-theme
# sphinx-immaterial
furo
# basic requirements
matplotlib
numpy
qiskit
qiskit_aer
jax
# qurrum requirements
qurrium