ghp-import
jupyter
# formatting
flake8
black
black[jupyter]
jupyter
# extensions
sphinxext-opengraph
# theme
pydata-sphinx-theme
# basic requirements
matplotlib
numpy
qiskit
qiskit_aer
jax
# qurrum requirements
qurrium